@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all browsers */
body {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE and Edge */
}
body::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}